extends layout

block content
	.w3-container
		.w3-card-4
			header.w3-container.w3-blue-grey
				h3 Aplicações Registadas
			.w3-container
				br
				a(href='/user/registerapp') Registar nova aplicação
				hr
				each c in clients
					p Nome: !{c.name}
					p ID de cliente: !{c.clientId}
					p Segredo de cliente: !{c.clientSecret}
					p ID de utilizador: !{c.userId}
					hr
		footer.w3-container.w3-blue-grey
			a(href="/") Voltar à página principal