doctype html

html
	head
		meta(name="google-signin-scope", content="profile email")
		meta(name="google-signin-client_id", content="378431338353-o6j4i8d9sd9as9vtv9bun52b0p4oblqp.apps.googleusercontent.com")
		script(src="https://apis.google.com/js/platform.js", async, defer)
		script(src="/javascripts/googlescript.js", async, defer)
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
